body {
  font-family: "Roboto", sans-serif;
  background-color: blue;
  color: white;
  background-image: url("./images/original-d01fba171be2d9199aed6c76ea1bb8af.jpg");
  background-size: 100% 100%; /* Adjust to your preference */
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2vw;
}

#start,
#restart {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#start:hover,
#restart:hover {
  background-color: #555;
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#start {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.start:hover {
  background-color: #b8121b;
}

.score-card {
  background-color: transparent;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  column-gap: 2vw;
  /* opacity: 0.7; */
  font-weight: 900;
}

#game-title {
  font-size: 2.5rem;
  text-align: center;
  color: black;
  font-weight: 1000;
  letter-spacing: 0.1rem;
  background-color: white;
  padding: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
  padding-left: 15px;
  padding-right: 15px;
}
p {
  color: black;
  background-color: white;
  padding: 0.4rem;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  height: auto;
  flex-basis: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #7e905d;
  row-gap: 2vh;
}

#game div {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRmO4qyG5J-MEFpncCgXij2cRQh4R680UFhw&usqp=CAU");
  border: 1px solid black;
  border-radius: 5px;
  flex-basis: 19%;
  height: 17vh;
  margin: 10px;
  display: inline-block;
  background-color: black;
  transition: transform 0.5s;
  border-radius: 0.5rem;
}

.rotate-card {
  transform: perspective(1000px) rotateY(180deg);
}

#instructions {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 33rem 0 27rem;
  height: 15rem;
  overflow: auto;
}

#instructions h1 {
  margin-bottom: 10px;
  color: #333;
}

#instructions p {
  margin-bottom: 15px;
  font-size: 16px;
  color: #666;
}
#message {
  background-color: transparent;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    column-gap: 0;
  }

  #start,
  #restart {
    padding: 8px 16px;
    font-size: 14px;
  }

  .score-card {
    font-size: 1.2rem;
    column-gap: 1vw;
  }

  #game-title {
    font-size: 2rem;
  }

  #game {
    row-gap: 1vh;
  }

  #game div {
    flex-basis: 24%;
    height: 13vh;
    margin: 5px;
  }
}

/* Media query for screens with a maximum width of 480px */
@media (max-width: 480px) {
  #game div {
    flex-basis: 48%;
    height: 10vh;
    margin: 3px;
  }
}
